html {
  height: 100%;
}

body {
  background: rgb(255, 255, 255);
  height: 100%;
  overflow: hidden;
  margin: 0px;
  font-size: 20px;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, rgb(103, 237, 255) 1px, transparent 1px), linear-gradient(to bottom, rgb(103, 237, 255) 1px, transparent 1px);
}

td {
  text-align: center;
}

p {
  margin: 0px;
}

ol.menu {
  border: 1px rgb(103, 237, 255) solid;
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
li {
  background: rgb(255, 255, 255);
}

li.menu {
  background: rgb(255, 255, 255);
  font-size: 18px;
  height: 100%;
}

li.menu:hover {
  background: rgb(227, 252, 255)
}

.table {
  border: 1px dashed black;
  border-collapse: collapse;
}

.table td {
  border: 1px dashed black;
  padding: 5px;
}

.table th {
  background: rgba(103, 237, 255, 0.2);
  border: 1px dashed black;
}

.table:hover {
  transition: transform .1s ease-in-out;
  transform: scale(1.2);
}

.table.selected {
  transition: transform .1s ease-in-out;
  transform: scale(1.2);
}

.text {
  background: none;
  font-size: 17px;
  border: none;
  resize: none;
  border: 1px dashed black;
}

.text.selected {
  resize: both;
}

.variable:hover {
  transition: transform .1s ease-in-out;
  transform: scale(1.2);
}

.variable.selected {
  transition: transform .1s ease-in-out;
  transform: scale(1.2);
}

.variable.objHover {
  background: rgba(103, 237, 255, 0.5);
}

.variable.selected .matrix.selected {
  transition: transform .1s ease-in-out;
  transform: scale(1);
}

.variable .matrix:hover {
  transition: transform .1s ease-in-out;
  transform: scale(1);
}

.function {
  background: rgba(103, 237, 255, 0.5);
  display: flex;
  flex-direction: row;
}

.function:hover {
  transition: transform .1s ease-in-out;
  transform: scale(1.2);
}

.function.selected {
  transition: transform .1s ease-in-out;
  transform: scale(1.2);
}

.function .matrix {
  background: rgba(103, 237, 255, 0.5);
}

.matrix.selected {
  transition: transform .1s ease-in-out;
  transform: scale(1.2);
}

.matrix:hover {
  transform: scale(1.2);
}
