<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Matrix</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div>
    <label for="interestRate">Interest Rate</label>
    <input type="number" name="interestRate" id="interestRate" min="0" max="100" value="1.5">
  </div>

  <div>
    <label for="period">Interest Paid:</label>
    <select name="peroid" id="peroid">
      <option value="0">Yearly</option>
      <option value="1">Monthly</option>
    </select>

  </div>

  <div>
    <label for="initialAmount">Initial Amount:</label>
    <input type="number" name="initialAmount" id="initialAmount" value="100">
  </div>

  <div>
    <label for="extraContributions">Extra Contributions?</label>
    <input type="checkbox" name="extraContributions" id="extraContributions">
    <div id="extraAmount" hidden="true">
      <label for="extraAmount">-Amount:</label>
      <input type="number" name="extraAmount" id="extraAmount" value="10">
    </div>
  </div>

  <div>
    <label for="term">Total time</label>
    <input type="range" name="term" id="term" value="1" min="0" max="10">
  </div>

  <div>
    <br>
    <output>graph of input</output>
    <br>
    <br>
  </div>
  
  <output id="result">result: 101</output>

  <script type="module" src="./js/main.js"></script>
</body>
</html>