html, body {
  margin: 0px;
}

body {
  display: flex;
  background: rgb(255, 255, 255);
  /*overflow: hidden;*/
  margin: 0px;
  font-size: 20px;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, rgb(103, 237, 255) 1px, transparent 1px), linear-gradient(to bottom, rgb(103, 237, 255) 1px, transparent 1px);
}