html {
  height: 100%;
}

body {
  background: rgb(255, 255, 255);
  width: 2480px; /* a4 300dpi page size */
  height: 3508px;
  /*overflow: hidden;*/
  margin: 0px;
  font-size: 20px;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, rgb(103, 237, 255) 1px, transparent 1px), linear-gradient(to bottom, rgb(103, 237, 255) 1px, transparent 1px);
}

td {
  text-align: center;
}

p {
  margin: 0px;
  padding-left: 1px;
  padding-right: 1px;
}

ol.menu {
  z-index: 1;
  border: 1px rgb(103, 237, 255) solid;
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  background: rgb(255, 255, 255);
}

li.menu {
  background: rgb(255, 255, 255);
  font-size: 18px;
}

li.menu:hover {
  background: rgb(227, 252, 255)
}

.mq-editable-field {
 border: 0px;
}

.graph {
  border: 1px rgb(103, 237, 255) solid;
}

.graph.selected {
  border: 1px rgb(0, 0, 0) solid;
}

.tableContainer {
  display: flex;
  flex-direction: row;
}

.tableContainer:hover {
  background: rgba(103, 237, 255, 0.2);
}

.tableContainer.selected {
  background: rgba(103, 237, 255, 0.2);
}

.table {
  border: 1px dashed black;
  border-collapse: collapse;
}

.table td {
  border: 1px dashed black;
  padding: 5px;
}

.table th {
  background: rgba(103, 237, 255, 0.2);
  border: 1px dashed black;
}

.text {
  background: none;
  font-size: 17px;
  border: none;
  resize: none;
  border: 1px dashed black;
}

.text.selected {
  resize: both;
}

.variable:hover {
  background: rgba(103, 237, 255, 0.2);
}

.variable.selected {
  background: rgba(103, 237, 255, 0.2);
}

.variable.objHover {
  background: rgba(103, 237, 255, 0.5);
}

.variable.selected .matrix.selected {
  background: rgba(103, 237, 255, 0.2);
}

.variable .matrix:hover {
  background: rgba(103, 237, 255, 0.2);
}

.function {
  display: flex;
  flex-direction: row;
}

.function:hover {
  background: rgba(103, 237, 255, 0.2);
}

.function.selected {
  background: rgba(103, 237, 255, 0.2);
}

.matrix.selected {
  background: rgba(103, 237, 255, 0.2);
}

.matrix:hover {
  background: rgba(103, 237, 255, 0.2);
}
